@charset "utf-8";

.background-repeat-x {
    height: 1000px;
    background-image: url('https://via.placeholder.com/150');
    background-repeat: repeat-x;
    padding: 20px;
    text-align: center;
}